.searchModuleContainer {
    margin-top: 100px;

}

.searchResultsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


}

.searchCard {
    height: 400px;
    width: 300px;
    background-image: unset;
    position: relative;
    background-color: #000;
    margin: 30px;
    cursor: pointer;
    border-radius: 10px;
    transition: all .15s ease-in-out;
    transform: scale(1);
    box-shadow: 0 0 1px 1px #54707e18,
        1px 1px 10px #4341571a;
    transition: box-shadow .15s ease-in-out,
        transform .15s ease-in-out;

}

.searchCard:hover {
    transform: scale(1.01);
    box-shadow: 1px 1px 10px #4341573a;
    transition: box-shadow .15s ease-in-out,
        transform .15s ease-in-out
}

.posterImg {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 0;
    object-fit: cover;
    background-color: #000;
    opacity: 0.5;
    border-radius: 10px;
}

.dataContainer {
    position: absolute;
    bottom: 0;
    color: #fff;
}

.name {
    font-weight: bold;
    margin: 15px;
    font-size: 25px;
}

.searchTitle {
    font-weight: bold;
    font-size: 60px;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 25px;
    margin-left: 100px;
}