.showContainer {
    position: relative;
    width: 100%;
    background-color: #eee;
}

.selectedItemDetailContainer {
    background-color: #edebf1;
    height: 100%;
}

.headerContainer {
    height: 70vh;
    width: 100%;
    background-color: #eee;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backgroundImgContainer {
    height: 100%;
    width: 100%;
    position: relative;
    cursor: pointer;
    background-color: #000;
}

.backgroundImg {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 0;
    object-fit: cover;
    background-color: #000;
    opacity: 0.4;
}

.headerInfoOuter {
    position: absolute;
    bottom: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerInfoContainer {}

.headerInfoInner {
    width: max-content;
}

.showNameContainer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.showName {
    color: #000;
    background-color: #fff;
    margin-bottom: 20px;
    font-size: 4rem;
    font-weight: bold;
    text-align: left;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

.showOverview {
    color: #fff;
    width: 700px;
    line-height: 1.3;
    letter-spacing: 1.3px;
    text-align: left;
}

.back {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 20px;
    z-index: 10000;
    cursor: pointer;
}

.showMetaData {
    color: #fff;
    margin-bottom: 10px;
    text-align: left;
    font-family: 'Roboto Mono',
        monospace;
}

.relatedSectionTitle {
    font-size: 40px;
    color: #000;
    font-weight: bold;
    text-align: left;
    margin-left: 10%;
    width: 90;
    margin-top: 50px;
    margin-bottom: 25px;
}

.relatedItemsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: 10%;
    flex-wrap: wrap;
}

.relatedContainer {
    width: 200px;
    height: 300px;
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    background-color: #000;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 50px;

}

.relatedMetaDataContainer {
    position: absolute;
    z-index: 100;
    color: #fff;
}

.relatedTitle {
    font-weight: bold;
    margin: 15px;
    font-size: 25px;
    text-align: left;

}

.relatedItemPoster {
    height: 100%;
    width: 100%;
    position: absolute;
}

.relatedPoster {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 0;
    object-fit: cover;
    background-color: #000;
    opacity: 0.5;
    border-radius: 10px;
}

.detailBoxSelector {
    width: 75vw;
    margin-left: 12.5%;
    background-color: #fff;
    height: 125px;
    margin-top: -62.5px;
    position: relative;
    border: 1px solid rgba(255, 255, 255, .1);
    box-shadow: 0 0 1px 1px #607d8b08,
        1px 1px 10px #4341571a;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detailBoxItem {
    font-weight: bold;
    margin: 10px;
    font-size: 30px;
    cursor: pointer;
    color: #565656;
}

.detailBoxItemSelected {
    font-weight: bold;
    margin: 10px;
    font-size: 30px;
    cursor: pointer;


}

.relatedItemsContainerInner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1800px) {
    .relatedItemsContainerInner {
        width: 950px;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 966px) {
    .showOverview {
        color: #fff;
        width: 80vw;
        line-height: 1.3;
        letter-spacing: 1.3px;
        text-align: left;
    }

    .detailBoxItem {
        font-size: 16px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .detailBoxItemSelected {
        font-size: 16px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .showName {
        font-size: 3rem;
    }

    .showMetaData {
        color: #fff;
        margin-bottom: 10px;
        text-align: left;
        font-family: 'Roboto Mono',
            monospace;
        font-size: 14px;
    }

    .starringTitle {
        margin-top: 30px;
    }
}