.showContainer {
    position: relative;
    height: 100vh;
    overflow: hidden;
    width: 100%;
}

.headerContainer {
    height: 100vh;
    width: 100%;
    background-color: #eee;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backgroundImgContainer {
    height: 100%;
    width: 100%;
    position: relative;
    cursor: pointer;
    background-color: #000;
}

.backgroundImg {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 0;
    object-fit: cover;
    background-color: #000;
    opacity: 0.4;
}

.headerInfoOuter {
    position: absolute;
    bottom: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerInfoContainer {}

.headerInfoInner {
    width: max-content;
}

.showNameContainer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.showName {
    color: #000;
    background-color: #fff;
    margin-bottom: 20px;
    font-size: 4rem;
    font-weight: bold;
    text-align: left;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

.showOverview {
    color: #fff;
    width: 700px;
    line-height: 1.3;
    letter-spacing: 1.3px;
    text-align: left;
}

.back {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 20px;
    z-index: 10000;
    cursor: pointer;
}